.profile__card {
    display: flex;
    flex-direction: row;
    margin-right: 6px;
}

@media screen and (max-width: 610px) {
    .profile__card {
        flex-direction: column;
        margin-right: 0;
    }
}