.profile__description {
    margin: 0;
    padding: 0;
    max-width: 294px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    grid-area: description;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@media screen and (max-width: 934px) {
    .profile__description {
        max-width: 230px;
        font-size: 14px;
        line-height: 17px;
    }
}