.place__trash {
    background-image: url(../../../images/Trash.svg);
    width: 18px;
    height: 19px;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
}

.place__trash:hover {
    opacity: 0.6;
    cursor: pointer;
}