.profile__image {
    margin-right: 30px;
    width: 120px;
    height: 120px;
    background-image: url('#');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    border: none;
    border-radius: 100%;
    position: relative;
    background-color: rgba(0,0,0, 1);
}

.profile__image:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(../../../images/pencil.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
}

@media screen and (max-width: 610px) {
    .profile__image {
        margin: 0 auto 28px;
    }
}