.place__like-button {
    padding: 0;
    background-image: url(../../../images/like.svg);
    width: 22px;
    height: 19px;
    border: none;
    background-color: #fff;
}

.place__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
}